<h2>Friend</h2>
<h3>My Friend List</h3>
<table>
  <tr>
    <th>Firt-name</th>
    <th>last-name</th>
    <th>Nick-name</th>
    <th>GitHub Pages</th>
  </tr>
  <tr>
    <td>Phumiphat</td>
    <td>Jaipattannasak</td>
    <td>Pa</td>
    <td><a href="https://github.com/camt-mmit/2023_01-954447-001-lab-01-basic-javascript-Rinrainmk.git" class="git">Lab02</a>
      <a href="https://github.com/camt-mmit/2023_01-954447-001-lab-02-dom-and-javascript-Rinrainmk.git" class="git">Lab03</a>
      <a href="https://github.com/camt-mmit/2023-01-954447-001-lab-03-introduction-to-typescript-Rinrainmk.git" class="git">Lab04</a></td>
  </tr>
  <tr>
    <td>Siraphob</td>
    <td>Inthajak</td>
    <td>Film</td>
    <td><a href="https://github.com/camt-mmit/2023_01-954447-001-lab-02-dom-and-javascript-FalarimFilm.git" class="git">Lab02</a>
      <a href="https://github.com/camt-mmit/2023_01-954447-001-lab-02-dom-and-javascript-FalarimFilm.git" class="git">Lab03</a>
      <a href="https://github.com/camt-mmit/2023-01-954447-001-lab-03-introduction-to-typescript-Rinrainmk.git" class="git">Lab04</a></td>
  </tr>
</table>
