<header>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<h1>{{ title }}</h1>
  <nav>

    <a routerLink="./hello-world" routerLinkActive="st-active">
      <span class="material-symbols-outlined">
        home
      </span>
      Hello world
    </a>



    <a routerLink="./Profile" routerLinkActive="st-active">
      <span class="material-symbols-outlined">
        account_circle
        </span>
        Profile
    </a>

    <a routerLink="./Friend" routerLinkActive="st-active">
      <span class="material-symbols-outlined">
        groups
        </span>
        Friend
      </a>

    <a routerLink="./Status" routerLinkActive="st-active">
      <span class="material-symbols-outlined">
        help
        </span>
        Status</a>
  </nav>


</header>


<router-outlet></router-outlet>
