
<h1>My Profile</h1>
<h2>Basic Information</h2>
<p><b>Name:</b>Pattanapong Theam-ai</p>
<p><b>Gender:</b>male</p>
<p><b>Age:</b>21</p>
<h2>Autobiography</h2>
<p>i was born on a winter, in 14 march in Chiang Mai,
  Thailand I have 7 years of experience in digital marketing and content strategy.<br>
  I hold a degree in Marketing from XYZ University. <br>Achievements include successful
  social media campaigns and driving organic traffic growth.
  Outside work, I enjoy photography and traveling.</p>
<h2>Git hub Pages</h2>
<a href="https://github.com/camt-mmit/2023_01-954447-001-lab-01-basic-javascript-Rinrainmk.git" class="git">Lab01</a>
<a href="https://github.com/camt-mmit/2023_01-954447-001-lab-02-dom-and-javascript-Rinrainmk.git" class="git">Lab02</a>
<a href="https://github.com/camt-mmit/2023-01-954447-001-lab-03-introduction-to-typescript-Rinrainmk.git" class="git">Lab03</a>

