.git {
  color: blue;
  text-decoration: none;
  border: 1px solid blue;
  border-radius: 4px;
  }


  a.st-active {
  background-color: silver;
  }


h1 {
  text-align: center;
}

h2,p,a{
    position:relative;
    left:10%;
    right: 10%;
}

